<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
<label for="name">Name</label>
<input type='text' name='name'>

<label for="propellers">Number of Propellers</label>
<input type='number' name='propellers'>


<label for="maxSpeed">Max Speed</label>
<input type="number" name="maxSpeed" min="1" max="18">

<button type="button">Submit</button>
</form>